@import "constants"

.basket__footer
  text-align: right
  margin: 20px
  padding: 10px 0
  border-top: 2px solid $accent-color

  h3
    font-size: 16px
    font-weight: 400

    span
      font-weight: 600
      color: $accent-color
      margin-left: 10px

.basket__product
  display: flex
  margin: 10px 0
  align-items: center
  justify-content: space-between

  p
    width: 22.5%
    font-weight: 600
    font-size: 16px
    border-right: 2px solid $main-color
    text-align: center

  button
    width: 10%
    font-size: 20px
    outline: none
    background: none
    border: none
    cursor: pointer