$main-z-index: 2
$overlay-z-index: 3
$header-height: 80px
$background-height: 350vh
$container-height: 350vh

$main-color: black
$accent-color: red
$light-color: lightgray
$light-accent-color: gray
$middle-color: whitesmoke
$white-color: white