@import "mixins";
@import "constants";

.header {
  width: 100%;

  .header__background {
    @include background;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }

  .header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: $overlay-z-index;
    top: 3px;
    left: 0;
  }

  .header__menu {
    position: fixed;
    z-index: $overlay-z-index;
    top: 0;
    left: 0;
    padding-top: $header-height;
    width: 30%
  }

  .header__progress{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: $overlay-z-index;
    top: 3px;
    right: 0;

    circle{
      stroke-dashoffset: 0;
      stroke-width: 10%;
      fill: none;
    }

    .header__progressIndicator{
      stroke: $accent-color
    }

    .header__progressBackground{
      stroke: $light-color;
      opacity: 0.3;
    }
  }
}

:export {
  headerHeight: $header-height;
}

