@import "constants"
@import "mixins"

.media
  @include container
  padding: 50px
  background-color: $accent-color-transparent
  backdrop-filter: blur(3px)
  border-radius: 20px
  border: 2px solid $accent-color-transparent
  box-shadow: -5px 5px 15px $accent-color-transparent

  h2
    @include sectionTitle

  h4
    @include sectionSubTitle

  .media__links
    display: flex
    justify-content: center
    align-items: center

    h3
      display: flex
      font-size: 40px
      margin: 10px 40px

