@import "constants"
@import "mixins"

.productChoice__note
  @include notes
  text-align: right
  padding: 20px
  position: absolute
  bottom: 0


.productChoice__choiceContainer
  @include choiceContainer

.productChoice__choice
  p
    margin: 0 0 5px 0


.productChoice__price
  font-size: 16px
  font-weight: 400

.productChoice__measures
  font-weight: 600
  font-size: 14px
  color: $accent-color


.productChoice__button
  @include button

.productChoice__quantity
  width: 50%
  margin: 20px auto
  display: flex
  justify-content: space-between

.productChoice__quantityInput
  flex: 0.4
  margin-left: 20px
  width: 40px
  background: none
  height: 40px
  border-bottom: 2px solid $main-color
  border-top: none
  border-left: none
  border-right: none
  border-radius: 5px
  text-align: center
  font-size: 16px

  &:focus
    border-color: $accent-color
    outline: none